<footer class="d-flex flex-wrap justify-content-between align-items-center py-4 mb-4">
    <div class="col-md-4 d-flex ">
      <span class="text-muted">© Liad Firouz 2026</span>
    </div>
  
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a target="_blank" class="text-muted" href="http://www.linkedin.com/in/liad-firouz">
          <img src="/footer-images/linkedin.svg" alt="LinkedIn" height="30px">
        </a>
      </li>
      <li class="ms-3">
        <a target="_blank" class="text-muted" href="http://www.github.com/LiadFirouz">
          <img src="/footer-images/github.svg" alt="GitHub" height="30px">
        </a>
      </li>
    </ul>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>